@charset "utf-8";
/* CSS Document */
html, body {margin: 0;padding: 0;width: 100%;}

body {font-family: "Helvetica Neue",sans-serif;font-weight: lighter;}

header {width: 100%;height: 100vh;background: url("../Img/banner04.jpg")no-repeat 50% 50%;background-size: cover;}

.contenido {width: 94%;margin: 4em auto; font-size: 25px; line-height: 30px; text-align: center;}

.logo {line-height: 60px;position: fixed;float: left;margin: 16px 46px;color: white;font-weight: bold;font-size: 20px;letter-spacing: 2px;}

nav {position: fixed;width: 100%;line-height: 60px;font-weight: bold;}/*nav general*/

nav ul {line-height: 60px;list-style: none;background: rgba(0, 0, 0, 0);overflow: hidden;color: #fff;padding: 0;text-align: right;margin: 0;padding-right: 40px;transition: 1s; }

nav.black ul {background: #000;}

nav ul li {display: inline-block;padding: 16px 40px;;}

nav ul li a {text-decoration: none;color: darkgoldenrod;font-size: 16px;}

.menu-icono {line-height: 60px;width: 100%;background: #000;text-align: right;box-sizing: border-box;padding: 15px 24px;cursor: pointer;color: #fff;display: none;}

@media(max-width: 786px) {.logo {position: fixed;top: 0;margin-top: 16px;}

 nav ul {max-height: 0px;background: #000;}
	
nav.black ul {background: #000;}

 .showing {max-height: 34em;}

nav ul li {box-sizing: border-box;width: 100%;padding: 24px;text-align: center;}

.menu-icon { display: block;}
}
#Texto  {
font-family: 'Bebas Neue', cursive;
        font-size: 42px;
}

/*footer*/
.footer {
	width: 100%;
	display: block;
	overflow: hidden;
	padding: 70px 0;
	box-sizing: border-box;
	background-color: #18181A;
	height:  290px;
}
.inner_footer{
	display: block;
	margin: 0 auto;
	width: 1110px;
	height: 100%
}
.inner_footer .contenedorlogo{
	width: 35%;
	float: left;
	height: 100%;
	display: block;
}
.inner_footer .contenedorlogo img {
width: 110px;
height: 100px;	
}
.inner_footer .footer_third {
	width: calc(21.666666667% -20px);
	margin-right: 10px;
	float: left;
	height: 100%
}
.inner_footer .footer_third:last-child {
	margin-right: 0;
}
.inner_footer .footer_third h1 {
	font-family: 'arial' ;
	font-size: 22px;
	color: white;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.inner_footer .footer_third a {
	font-family: 'arial' ;
	font-size: 22px;
	color: white;
	display: block;
	font-weight: 200;
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.inner_footer .footer_third li {
	display: inline-block;
	padding: 0 5px;
	font-size: 20px;
}
.inner_footer .footer_third span {
	color: white;
	font-family: 'arial';
	font-size: 16px;
	font-weight: 200;
	display: block;
	width: 100%;
}
.iconos {
	height: 45px;
	width : 45px;
}